# Visual Studio Code
.vscode/
*.code-workspace
.history/

# Visual Studio 2019
.vs/
Debug/
Release/
x64/
x86/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.pdb
*.ipdb
*.iobj

#Build
Build/*
!Build/.gitkeep

#Output
Output/*
!Output/.gitkeep

